html {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;
  margin: 70px 0;
  text-transform: uppercase;
}
.section-title {
  background: $color__turq;
  color: white;
  width: 250px;
  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 600px;
  }
}
