.contact-container {
  margin-bottom: 30px;
  .contact-message{
    width: 300px;
    margin-left: 30px;
    display: none;
    @include tablet {
      display: block;
    }
  }
}
.wpcf7-submit {
  padding: 5px 30px;
  background: $color__turq;
  color: white;
  border: none;
  &:hover {
    background: $color__dk-grey;
  }
}
