.contact-container {
  margin-bottom: 30px;
  .contact-message{
    width: 300px;
    margin-left: 30px;
    display: none;
    @include tablet {
      display: block;
    }
  }
}
.wpcf7-submit {
  @extend .btn;
}
