.site-footer {
  background: black;
  height: 150px;
  width: 100%;
  @extend .center;
  color: white;
  .social-container {
    @extend .center;
  }
  a {
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin: 0 5px;
  }
  .twitter {
    background: url(assets/images/icons/twitter-white.png);
    background-size: cover;
    &:hover {
      background: url(assets/images/icons/twitter-color.png);
      background-size: cover;
    }
  }
  .instagram {
    background: url(assets/images/icons/instagram-white.png);
    background-size: cover;
    &:hover {
      background: url(assets/images/icons/instagram-color.png);
      background-size: cover;
    }
  }
  .linkedin {
    background: url(assets/images/icons/linkedin-white.png);
    background-size: cover;
    &:hover {
      background: url(assets/images/icons/linkedin-color.png);
      background-size: cover;
    }
  }
  .github {
    background: url(assets/images/icons/github-white.png);
    background-size: cover;
    &:hover {
      background: url(assets/images/icons/github-color.png);
      background-size: cover;
    }
  }
}
