.sticky {
  .site-branding {
    padding: 5px;
    border-bottom: 1px solid $color__li-grey;
    width: 100%;
    position: fixed;
    z-index: 909;
    background: rgba(0, 0, 0, 0.73);
    .logo {
      background: url(assets/images/ky-color.svg) no-repeat;
      background-size: 50px;
      height: 50px;
      width: 50px;
    }
    a {
      text-shadow: none;
      color: $color__turq;
      &:hover {
        color: white;
      }
    }
  } // .site-branding
}

.site-branding {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  .logo {
    background: url(assets/images/ky-white.svg) no-repeat;
    background-size: 50px;
    height: 50px;
    width: 50px;
    @include tablet {
      margin-left: 70px;
    }
    @include desktop {
      margin-left: 100px;
    }
  }
  nav {
    @include tablet {
      width: 65%;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 1px 1px 2px #000;
      padding: 0 10px;
      color: white;
      font-size: .8rem;
      &:hover {
        color: $color__turq;
      }
      @include tablet {
        font-size: 1rem;
      }
    }
  }
} // .site-branding
