.site-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #b0acac;
  width: 100%;
  position: fixed;
  background: rgba(226, 226, 226, 0.84);
  .logo {
    background: url(assets/images/ky-white.svg) no-repeat;
    background-size: 70px;
    margin-left: 100px;
    height: 70px;
    width: 70px;
  }
  ul {
    list-style: none;
    display: flex;
    margin-right: 100px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 1px 1px 2px #000; 
      padding: 0 10px;
      color: #fff;
      &:hover {
        color: #2fc4c4;
      }
    }
  }
}
