.projects {
  .project-wrap {
    position: relative;

    margin-left: 10px;
  }
  .project-image{
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
    background-size: 300px 500px;
    img {
      z-index: -1;
      position: relative;
      height: 300px;
      width: 500px;
      display: block;
    }
  }
  ul {
    flex-wrap: wrap;
    @extend .center;
    margin: 0 auto;
    li {
      flex: 0 1 33.33%;
      margin-bottom: 10px;
    }
  }
  .project-info {
    position: absolute;
    top: 0;
    padding: 20px 30px;
    width: 200px;
    color: white;
    h3 {
      font-size: 1.4rem;
    }
    a {
      color: white;
    }
  }
  .button-div {
    margin-top: 20px;
    display: flex;
    .solid-line {
      background: $color__li-grey;
      width: 630px;
      height: 40px;
    }
    .button {
      background: $color__dk-grey;
      padding: 10px 40px;
      &:hover {
        background: $color__op-turq;
      }
    }
  }
}
