.projects {
  .project-wrap {
    position: relative;
    margin-left: 10px;
  }
  .project-image{
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
    background-size: 200px 400px;
    @include tablet {
      background-size: 200px 400px;
    }
    @include desktop {
      background-size: 300px 500px;
    }
    img {
      z-index: -1;
      position: relative;
      height: 200px;
      width: 400px;
      display: block;
      @include tablet {
        height: 250px;
        width: 450px;
      }
      @include desktop {
        height: 300px;
        width: 500px;
      }
    }
  }
  ul {
    @extend .center;
    flex-wrap: wrap;
    padding-top: 20px;
    li {
      flex: 0 1 25%;
      margin-bottom: 10px;
      @include tablet {
        flex: 0 1 33.33%;
      }
      @include desktop {
      flex: 0 1 33.33%;
      }
    }
  }
  .project-info {
    position: absolute;
    top: 0;
    padding: 20px 30px;
    width: 200px;
    color: white;
    h3 {
      font-size: 1.4rem;
    }
    a {
      color: white;
    }
  }
  .button-div {
    margin-top: 20px;
    display: flex;
    .solid-line {
      background: $color__li-grey;
      width: 31.5%;
      height: 40px;
      @include tablet {
        width: 40%;
      }
      @include desktop {
        width: 44%;
      }
    }
    .button {
      background: $color__dk-grey;
      padding: 10px 40px;
      &:hover {
        background: $color__op-turq;
      }
    }
  }
}
