// Variables
$color__turq: #2fc4c4;
$color__op-turq: rgba(50, 184, 168, 0.71);
$color__dk-turq: #24836f;

$color__li-grey: #cccccc;
$color__dk-grey: #444444;



// Extend

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
