// Variables
$color__turq: #2fc4c4;
$color__op-turq: rgba(50, 184, 168, 0.71);
$color__dk-turq: #24836f;

$color__li-grey: #cccccc;
$color__dk-grey: #444444;


.btn {
  padding: 5px 30px;
  background: $color__turq;
  color: white;
  border: none;
  &:hover {
    background: $color__dk-grey;
  }
}
