.projects {
  .project-container {
    @include desktop {
      width: 1100px;
      margin: 0 auto;
    }
  }
  .section-title {
    background: black;
    color: white;
    margin-left: auto;
  }
  .project-wrap {
    position: relative;
    overflow: hidden;
    &:hover > #hidden {
      @include desktop {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
      }
    }
    @include tablet {
        margin: 0 5px;
    }
    @include desktop {
      margin: 0 5px;
    }
  }
  .project-image{
    img {
      z-index: -1;
      position: relative;
      height: auto;
      width: 100%;
      display: block;
    }
  }
  ul {
    @extend .center;
    flex-wrap: wrap;
    padding-top: 20px;
    li {
      flex: 0 1 100%;
      margin-bottom: 10px;
      @include tablet {
        flex: 0 1 50%;
      }
    }
  }
  #hidden {
    @include desktop {
      transform: translateX(-100%);
    }
  }
  .project-info {
    position: absolute;
    top: 0;
    padding: 20px 30px;
    width: 200px;
    color: white;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
    height: 86.5%;
    @include desktop {
      animation: slide-out 0.5s forwards;
      -webkit-animation: slide-out 0.5s forwards;
    }
    h3 {
      font-size: 1.4rem;
    }
    a {
      color: black;
      &:hover {
        color: white;
      }
    }
  }
  .read-btn {
    padding: 5px 10px;
    background: white;
    &:hover {
      background: $color__turq;
    }
  }
  .button-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .button {
      background: $color__dk-grey;
      padding: 10px 40px;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background: $color__turq;
        }
      }
    }
    .solid-line {
      background: $color__li-grey;
      width: 45%;
      height: 42px;
      @include tablet {
        width: 70%;
      }
      @include desktop {
        width: 85%;
      }
  }
} // .projects

// Keyframes for hovering

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}
