.single-projects {
  h3 {
    @extend .center;
  }
   .single-image {
     background: black;
     @extend .center;
     overflow: hidden;
   }
   img {
     height: 350px;
     width: auto;
     @include tablet {
       height: 600px;
     }
     @include desktop {
       height: 700px;
     }
   }
   .entry-content {
     margin: 0 auto;
     width: 350px;
     @include tablet {
       width: 650px;
     }
     @include desktop {
       width: 1100px;
     }
     a {
       @extend .btn;
     }
   }
   .projects-link {
     a {
       text-align: center;
       @extend .center;
        margin-left: auto;
        margin-right: 30px;
        margin-bottom: 20px;
         background: $color__dk-grey;
         border-radius: 50%;
         height: 80px;
         width: 80px;
         &:hover {
           background: $color__turq;
         }
     }
   }
}
